body {
    background: rgb(2, 154, 180);
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.content {
    grid-column-start: 2;
}

.roboto-slab-nairobi {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.imageLink1 {
    margin: 20px;
    width: 50px;
    height: 50px;
} 

.imageLink2 {
    margin: 20px;
    width: 50px;
    height: 50px;
} 



.imageLink1:hover {
    cursor: pointer;
    background-color: rgba(19, 18, 19, 0.548);
    border-radius: 5px;
    width: 80px;
    height: 80px;
} 

.imageLink2:hover {
    cursor: pointer;
    background-color: rgba(19, 18, 19, 0.548);
    border-radius: 5px;
    width: 80px;
    height: 80px;

}
